.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-teal)
}

.nav-link {
    color: var(--bs-green)
}

.inp-success {
    background-color: var(--bs-teal)
}

.inp-success:hover {
    background-color: var(--bs-green)
}
